* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  background-color: rgb(221, 221, 221);
  max-width: 1550px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
}

/*----------HEADER-----------*/
header {
  width: 100%;
  display: flex;
  background-color: rgb(11, 143, 250);
  padding: 10px 0;
}

header .inicio{
  margin-right: 2rem;
  margin-left: 2rem;
}
header .buscador{
  width: 500px;
  padding: .3rem;
  border-radius: 50px;
  border: transparent;
}
/*-----------LISTA-POKEMONES--------*/
.pokemon_list {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
/*-----------POKEMON-CARD----------*/
.card{
  background-color: rgba(255, 255, 255, 0.507);
  margin: 0 auto;
  margin-top: 1rem;
  padding: .5rem;
  width: 25%;
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgb(177, 177, 177);
}
.card:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.card_image{
  text-align: center;
}
.card_name{
  text-align: center;
}
.card_types{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card_type{
  background-color: rgb(11, 143, 250);
  color: #fff;
  padding: .5rem;
  border-radius: 50%;
  font-weight: bold;
}
.card_info .title{
  font-weight: bold;
}
/*-----------BUTTON--------*/
.btn{
  padding: .5rem;
  text-align: center;
}
.btn button{
  background-color: tomato;
  width: 100px;
  padding: 5px;
  margin-right: 20px;
  border-radius: 10px;
  border: transparent;
  cursor: pointer;
}
.btn button:hover{
  background-color: rgb(247, 62, 29);
}

/*-----------MEDIA----------*/
@media(max-width:700px){
  header .buscador{
    width: auto;
  }
}
@media(max-width:400px){
  header .buscador{
    width: 120px;
  }
}
@media(max-width:700px){
  .pokemon_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
@media(max-width:450px){
  .pokemon_list {
    justify-content: center;
  }
}

@media(max-width:700px){
  .card {
    margin-right: 10px;
    width: 150px;
  }
}
@media(max-width:450px){
  .card{
    width: 200px;  
    margin-bottom: 10px;
    margin-left: 18px;
  }
}
@media(max-width:450){
  .card:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media(max-width:700px){
  .btn button{
    width: 80px;
    margin-right: 50px;
  }
}
